@charset "UTF-8";

@media (min-width: 320px) and (max-width:568px){
    header h1{
        font-size: 3em;

    }
}
@media (min-width:560px) and (max-width:700px){
    header h1{
        font-size: 3em;

    }
}
@font-face {
    font-family: 'passion one';
    src: url(fonts/Passion_One/PassionOne-Regular.ttf) format(opentype);
}

@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf) format(opentype);
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #000000fb;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 40px;
    transition-duration: 5s;
    transition-delay: 3s;
}

h1{
    font-size: 10vh;
    font-family: 'passion one';
    transition-duration: 2s;
    color: bisque;
}

a{
    color: white;
    transition-duration: 2s;
}
a:hover{
    color: blue;
}
section{
    background-color: #ffffff;
    padding: 20px;
}
.imagem1{
    background-image: url(imagens/sol2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:20vh;
}
.caixa3{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20vh;
}
p{
    font-family: 'Sriracha';
}
.p1{
    background-color: rgba(255, 255, 255, 0.41);
    border-radius: 3px;
    width: 200px;
}